body{
    text-align: center;
}

.header{
    padding-bottom: 100px;
}
.inputs input{
    background-color: lightgray;
    
}

.result{
    display: none;
    margin-left: 35%;
    margin-top: 50px;
    width: 450px;
    height: 400px;
    background-color: lightgray;
    border-radius: 10px;
}
.show{
    display: block;
}